input, textarea {
    font-family: roboto, sans-serif;
    margin: 8px;
    border: 0px solid black;
    padding: 7px 14px;
    background: rgb(199, 206, 212);
    box-shadow: none;
    border-radius: 8px;
    border-block-end-width: 2px;
}