body,
html {
    font-family: roboto, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.modeler-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#modeler-container {
    flex: 1;
}

:root {
    --input: #ffffff;
    --input-secundary: #000000;
    
    --primary: #000407;
    --primary-light: #FAF9F9;
    --primary-dark: #F2DA9D;
    --secundary: #DDAA36;
    --secundary-light: #CB8C35;
    --secundary-dark: #03050F;

    --erro: #b00020;
  }