.element-properties label {
  font-weight: bold;
}

.element-properties label:after {
  content: ': ';
}

.element-properties button+button {
  margin-left: 10px;
}

.field,
span {
  margin: 8px;
}

.btnSalvar, .btnTarefaParaServico, .btnDownload, .btnAbrirBPMN {
  background-color: var(--secundary);
}

.centerDiv {
  text-align: center;
}